@import "tailwindcss";

@theme {
  --font-sans: "Kanit", sans-serif;
}

@utility hero-heading {
  background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Global resets and body configuration */
html, body, #root {
  background-color: #0C0C0C;
  color: #D7E2EA;
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for beauty in certain components if needed */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

